include README.md
include LICENSE
include requirements.txt
include ticaret_sources.json
include *.png
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude logs *
include tariff_sources.json
include control_sources.json
